site_name: Informática y sistemas operativos
repo_url: https://github.com/mnceleiro/informatica
nav:
  - Introducción a la informática:
    - 'Esta página': 'index.md'
    - 'Mecanografía': '1-intro/mecanografia.md'
    - 'Moverse en Windows': '1-intro/intro-informatica.md'
    - 'Ofimática': '1-intro/ofimatica.md'
    - 'Multimedia': '1-intro/multimedia.md'
    - 'Seguridad en internet': '1-intro/seguridad-internet.md'
    - 'Introducción a los sistemas operativos': '1-intro/intro-sos.md'
  - Hardware:
    - 'Historia': 'hardware/intro.md'
    - 'Arquitecturas físicas': 'hardware/arquitecturas-fisicas.md'
    - 'Componentes de un ordenador': 'hardware/componentes-de-ordenador.md'
    - 'Torres y placas base': 'hardware/componentes/torre.md'
    - 'Microprocesador': 'hardware/componentes/procesador.md'
    - 'Refrigeración CPU': 'hardware/componentes/cpu-cooling.md'
    - 'Memorias': 'hardware/componentes/memorias.md'
    - 'Almacenamiento': 'hardware/componentes/storage.md'
    - 'Fuente de alimentación': 'hardware/componentes/power-supply.md'
    - 'Almacenamiento, tarjetas gráficas y monitores': 'apuntes-variados/hardware.md'
  - Virtualización y DevOps:
    - 'Introducción': 'virtualizacion-devops/intro.md'
    - 'Virtualbox': 'virtualizacion-devops/virtualbox.md'
    - 'Vagrant': 'virtualizacion-devops/vagrant.md'
    - 'Vagrant (II)': 'virtualizacion-devops/vagrant2.md'
    - 'Ansible': 'virtualizacion-devops/ansible.md'
    - 'Docker I: iniciación': 'virtualizacion-devops/docker.md'
    - 'Docker II: Dockerfiles': 'virtualizacion-devops/docker-2.md'
    - 'Docker III: Docker Compose': 'virtualizacion-devops/docker-3.md'

  - GNU/Linux:
    - 'Distribuciones y entornos de escritorio': 'gnu-linux/linux-desktop.md'
    - 'Instalación': 'gnu-linux/installation.md'
    - 'Comandos básicos': 'gnu-linux/commands-basics.md'
    - 'Gestión de ficheros': 'gnu-linux/files.md'
    - 'Gestión de usuarios y grupos': 'gnu-linux/users-groups-local.md'
    - 'Actividad: manejo de terminal': 'gnu-linux/exercise-terminal-basics.md'
    - 'Manipulación de texto y filtros': 'gnu-linux/files-2.md'
    - 'Programación de scripts (I)': 'gnu-linux/scripting-linux.md'
    - 'Programación de scripts (II)': 'gnu-linux/scripting-linux-2.md'
    - 'Ejercicios variados': 'gnu-linux/ejercicios-variados.md'
    - 'Examen': 'gnu-linux/examen.md'
    - 'Gestores de paquetes': 'gnu-linux/software.md'
    - 'Gestión de discos y particiones': 'gnu-linux/disk-management.md'
    - 'Cuotas de disco': 'gnu-linux/disk-quotes.md'
    - 'Redes en Linux': 'gnu-linux/networks.md'
    - 'Servidores web': 'gnu-linux/web-servers.md'
    - 'Apache': 'gnu-linux/apache.md'
  - Windows:
    - 'Introducción': 'windows/windows-setup.md'
    - 'Powershell': windows/powershell.md
  - Java:
    - 'Introducción': 'java/intro.md'
    - 'Ficheros I: básico': 'java/file-basics.md'
    - 'Ficheros II: Java': 'java/files.md'
  - Web:
    - 'Frontend Roadmap': 'web/intro.md'
    - 'Iniciación a JavaScript': 'web/js-basics.md'
  - Gamedev:
    - 'Introducción al desarrollo de videojuegos': 'gamedev/intro.md'
    - 'Unity': 'gamedev/unity/unity2d.md'
  - Otros:
    - 'Intro': 'apuntes-variados/intro.md'
    - 'Programación': 'apuntes-variados/programming.md'
    - 'Firewalling': 'apuntes-variados/firewalling.md'
    - 'Gamedev': 'apuntes-variados/gamedev.md'
    - 'Android': 'apuntes-variados/android.md'
    - 'Control versiones': 'apuntes-variados/control-versiones.md'
theme:
  name: material
  language: es
  palette:
    #scheme: slate
    primary: indigo
  features:
    - navigation.tabs
    - navigation.sections
    - content.code.annotate
extra:
  generator: false
markdown_extensions:
  - sane_lists
  - pymdownx.highlight:
      anchor_linenums: true
  - admonition
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
      - name: mermaid
        class: mermaid
        format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.keys
plugins:
  - mkdocs-video
  - search
  - enumerate-headings:
      increment_across_pages: false
      toc_depth: 3
